.info-block__item {
    box-shadow: 0 0 5px 5px rgba(191, 189, 189, 0.197);
    border-radius: 8px;
    padding: 20px;
    width: 10%;
}

.info-block__desc {
    margin: 0;
    margin-top: 6px;
}

.info-block__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 3%;
}

.info-block__title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
}

.info-block__temp {
    font-size: 32px;
    font-weight: 600;
    margin: 20px auto;
}

.info-block__calendar {
    margin: 10px;
}