.weather {
    text-align: center;
    margin-top: 2%;
}

.weather__btn {
    height: 32px;
    width: 100px;
    color: white;
    background-color: blue;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

.weather__input {
    height: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-right: 4px;
}